@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2 style="color:chocolate">Forget Password</h2>

<form action="/Home/ForgetPassword1" method="post">
    <div align="center">
      <div class="sign-in">
		<h4>Email :</h4>
		<input id="Email" name="Email" type="text" value="Type here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Type here';}" required="">	
		</div>
		<div class="sign-in">
				<h4>Password :</h4>
		<input id="Pass1" name="Pass1" type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="" />
	</div>
    <div class="sign-in">
		<h4>Confirm Password :</h4>
		<input id="Pass2" name="Pass2" type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="" />
	</div>
        <div>
    <input id="sub" type="submit" name="submit" value="Submit" />  
        </div>
        </div>

</form> 
    <br><br>   
