@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2 align="center" style="font:200; color:chocolate" > Contact information </h2>
<h3 style="color:chocolate; text-align:left; float:left" > Number of Admins :   </h3>
<h4> 1 </h4><br>
<h3 style="color:chocolate; text-align:left; float:left"> Name : </h3>
<h4> Maryam Aslam </h4><br>
<h3 style="color:chocolate; text-align:left; float:left"> Phone # :</h3>
<h4> 0322xxxxxxx </h4><br>
<h3 style="color:chocolate; text-align:left; float:left"> Email :</h3>
<h4> maryamaslam1996@gmail.com </h4> <br>
<h3 style="color:chocolate; text-align:left; float:left"> Address :</h3>
<h4>  1-S-52, Almumtaz road, Samnabaad LHR <h4> <br>
<h3 style="color:chocolate; text-align:left; float:left"> Fax : </h3>
<h4> xxx-xxx-xxx-xx </h4> <br>
<h3 style="color:chocolate; text-align:left; float:left"> Blood group :</h3>
<h4> B+ </h4> <br>
<h3 style="color:chocolate; text-align:left; float:left"> Education :</h3>
<h4> Bachulor In Computer Science(BSCS) </h4> <br>

